<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'homepage/style.css' %}">
    <title>Selamat datang</title>
</head>
<body>
    <h1>Welcome...to webdev hell</h1>
    <br>
    <div>
        <img src="/static/images/eja.jpg" alt="pict error" width="200">
    </div>
    <br>
    <p><h3>M. Fahreza Pratama W.</h3></p>
    <b><i>Who am I?</i></b>
    <p>I study Computer Science in the Universitas Indonesia</p>

    <b><i>About Reza:</i></b>
    <ul>
        <li>Npm: 1906351051</li>
        <li>Maurt 2019</li>
    </ul>
    <b><i>Education History:</i></b>
    <ul>
        <li>SMPN 230 Jakarta (2013-2016)</li>
        <li>SMAN 99 Jakarta (2016-2019)</li>
        <li>Universitas Indonesia (2019-now)</li>
    </ul>
    <b>See my instagram:</b>
    <a href="https://instagram.com/r_reza00">
    <span>
        <img src="/static/images/logo-ig.jpg" alt="pict error" width="20">
    </span>
    </a>
</body>
</html>